<h1>Episodes</h1>
<hr />

<%= form_tag(complete_episodes_path, method: :put)  do %>
<% @un_watched_episodes.each do |episode| %>
<section>
    <h2><%=link_to(episode.title, "#{episode.url}", :target => "_blank")%></h2>
    <p><%=episode.plot%></p>
    <p> Season <%= episode.season.number %></p>
    <p>mark as watched <%= check_box_tag 'episode_id[]', episode.id %></p>
<% end %>
<div class="watched-episodes">
<% @watched_episodes.each do |episode| %>
<h2><%=link_to episode.title, "#{episode.url}", :target => "_blank", :style =>"color:grey"%></h2>
<p><%=episode.plot%></p>
  <p><%=episode.id%></p>
<p> Season <%= episode.season.number %></p>
<p>You have seen this </p>
<%end%>
</div>
<%= submit_tag %>

</section>

<% end %>
